.faq-container {
  padding: 20px;

  .faq-bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    border-top: 1px solid #c6c2c2;

    .question-faq {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      margin: 4px 0;

      h3 {
        cursor: pointer; // Change le curseur lors du survol
        width: 80%;
      }

      img {
        transition: transform 0.3s ease-in-out; // Ajout d'une transition pour la rotation
      }

      img.rotate {
        transform: rotate(-90deg); // Appliquer la rotation
      }
    }

    &:last-child {
      border-bottom: 1px solid #c6c2c2;
    }

    .answer {
      overflow: hidden; // Gardez cela pour cacher le contenu débordant
      transition: opacity 0.3s ease-in-out, padding 0.3s ease-in-out; // Ajouter une transition pour le padding
      opacity: 0; // Initialiser l'opacité à 0 pour les éléments fermés
      margin-bottom: 0; // Pas de padding par défaut

      &.open {
        opacity: 1; // Lorsque l'élément est ouvert, définir l'opacité à 1
        margin-bottom: 5px; // Ajoutez le padding ici lorsque l'élément est ouvert
      }
    }
  }
}
