.faq-container {
  padding: 20px;
  margin-bottom: 10px;

  .faq-bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    border-top: 1px solid #c6c2c2;
    padding: 0 5px;

    .question-faq {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      margin: 4px 0;

      h3 {
        cursor: pointer;
        width: 86%;
        font-weight: 500;
        letter-spacing: 0.4px;

        @media (min-width: 410px) {
          width: 84%;
        }

        @media (min-width: 420px) {
          width: 86%;
        }
      }

      img {
        transition: transform 0.3s ease-in-out;
      }

      img.rotate {
        transform: rotate(-90deg);
      }
    }

    &:last-child {
      border-bottom: 1px solid #c6c2c2;
    }

    .answer {
      overflow: hidden;
      transition: opacity 0.3s ease-in-out, padding 0.3s ease-in-out;
      opacity: 0;
      margin-bottom: 0;

      &.open {
        opacity: 1;
        margin-bottom: 5px;
      }
    }
  }
}

@media (min-width: 720px) {
  .faq-container {
    margin-bottom: 20px;

    .faq-bloc {
      .question-faq {
        font-size: 18px;

        img {
          width: 28px;
          height: 28px;
        }
      }

      .answer {
        p {
          padding-right: 20px;
          font-size: 18px;
        }
      }
    }
  }
}
@media (min-width: 1000px) {
  .faq-container {
    .faq-bloc {
      .question-faq {
        font-size: 20px;

        img {
          width: 32px;
          height: 32px;
        }
      }
      .answer {
        p {
          padding-right: 40px;
          margin-bottom: 5px;
          font-size: 20px;
        }
      }
    }
  }
}
@media (min-width: 1190px) {
  .faq-container {
    padding: 20px 40px;
    margin-bottom: 40px;
    .faq-bloc {
      .question-faq {
        font-size: 20px;

        img {
          width: 36px;
          height: 36px;
        }
      }
      .answer {
        p {
          padding-right: 60px;
          margin-bottom: 5px;
          font-size: 20px;
        }
      }
    }
  }
}

@media (min-width: 1190px) {
  .faq-container {
    padding: 20px 50px;
    .faq-bloc {
      padding: 0 10px;
    }
  }
}
