.offer-card {
  margin: 0 auto;
  position: relative;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow: hidden;
  z-index: 1;
  height: 500px;
  width: 330px;
  border: 3px solid #d1cdcd;

  h2 {
    color: #303030;
  }

  &.popular {
    background-color: black;
    color: white;
    border: 3px solid #ffb648;

    .orange-rectangle {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #ffb648;
      color: #3b3b3b;
      padding: 5px 10px;
      font-size: 14px;
      // font-weight: bold;
      border-radius: 5px;
      z-index: 1;
    }

    .header-offer {
      h2 {
        color: #e0e0e0;
      }

      img {
        margin-left: 10px;
        width: 50px !important;
        height: 50px !important;
      }
    }

    .offer-btn {
      button {
        background-color: white;
        color: black;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #303030; // Couleur de fond au survol
          color: white; // Couleur du texte au survol
          border: solid 1px white;
        }
      }
    }
  }

  .circle-left,
  .circle-right,
  .circle-bottom {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: -1;
  }

  .circle-left {
    top: 50px;
    left: 20px;
  }

  .circle-right {
    top: 90px;
    right: 30px;
  }

  .circle-bottom {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    z-index: -1;
  }

  .light-circle {
    background-color: #8b7878;
  }

  .dark-circle {
    background-color: white;
  }

  .blur-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // width: 100%;
    // height: 100%;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 15px;
    z-index: 0;
    overflow: hidden;

    &.black-blur {
      background: rgba(52, 52, 52, 0.7);
    }

    &.white-blur {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  .content {
    position: relative;
    z-index: 1;

    .header-offer {
      padding-top: 20px;
      padding-left: 10px;
      display: flex;
      align-items: center;
      gap: 20px;
      height: 20%;

      .old-price {
        display: flex;
        align-items: center;
        gap: 10px;

        .strikethrough {
          font-size: 20px;
          color: #6b6464;
          position: relative;
          // Gardez la couleur du texte par défaut

          &::after {
            content: ""; // Crée un élément de contenu vide
            position: absolute;
            left: 0; // Alignez à gauche
            right: 0; // Alignez à droite
            top: 50%; // Centre verticalement
            height: 2px; // Épaisseur de la ligne
            background-color: #ba1e20; // Couleur de la ligne
            transform: translateY(-50%); // Centre la ligne par rapport au texte
          }
        }
      }

      .price {
        font-size: 28px;
        font-weight: 500;
      }

      .ttc {
        font-weight: normal;
        font-size: 16px;
      }

      img {
        width: 60px;
        height: 60px;
      }
    }

    .line {
      padding: 10px;
      margin-bottom: 15px;
      border-bottom: 2px solid #c6c2c2;
    }
  }

  .offer-features {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    height: 246px;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      gap: 10px;
      font-size: 14px;
    }
  }

  .offer-btn {
    display: flex;
    justify-content: center;
    button {
      width: 290px;
      height: 50px;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #303030;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: white; // Couleur de fond au survol
        color: #303030; // Couleur du texte au survol
        border: solid 1px #303030;
      }
    }
  }
}
