<section class="discussion-section">
  <div class="blue-background"></div>
  <!-- Blue background element -->

  <div class="footer-container">
    <div class="need-talk">
      <h2 class="footer-title mb-20">Vous voulez en discuter ?</h2>

      <p class="description">
        Rien de plus simple : remplissez simplement quelques informations sur
        vous et nous vous recontacterons selon vos disponibilités pour définir
        ensemble le message, la durée et la deadline du projet vidéo.
        <br />
        <br />
        Alors, prêt à donner vie à votre projet ?
      </p>

      <div class="steps-container">
        <ul class="steps">
          <li>
            <img src="/png/correction-white.png" alt="" loading="lazy" />
            <p>Choisissez un créneau</p>
          </li>
          <li id="calendly-section">
            <img src="/png/correction-white.png" alt="" loading="lazy" />
            <p>On discute de votre projet</p>
          </li>
          <li>
            <img src="/png/correction-white.png" alt="" loading="lazy" />
            <p>On lance la production</p>
          </li>
        </ul>
      </div>
    </div>
    <div
      id="footer-section"
      class="calendly-inline-widget"
      data-url="https://calendly.com/ondeo-agency/30min?hide_event_type_details=1&hide_gdpr_banner=1"
      style="width: 100%; max-width: 600px; height: 600px; margin: 0 auto"
    ></div>
  </div>
  <footer class="footer">
    <p class="follow-us">Rejoignez - nous</p>
  </footer>
</section>
