<section class="discussion-section">
  <div class="blue-background"></div>
  <!-- Blue background element -->

  <h2 class="section-title mb-20">Vous voulez en discuter ?</h2>

  <p class="description">
    Rien de plus simple : remplissez simplement quelques informations sur vous
    et nous vous recontacterons selon vos disponibilités pour définir ensemble
    le message, la durée et la deadline du projet vidéo. <br />
    Prêt à donner vie à votre projet ?
  </p>

  <ul class="steps">
    <li>
      <img src="/png/correction-white.png" alt="" />
      <p>Choisissez un créneau</p>
    </li>
    <li>
      <img src="/png/correction-white.png" alt="" />
      <p>On discute de votre projet</p>
    </li>
    <li>
      <img src="/png/correction-white.png" alt="" />
      <p>On lance la production</p>
    </li>
  </ul>

  <div class="calendar-placeholder"></div>

  <footer class="footer">
    <div class="social-icons">
      <img src="/svg/insta.svg" alt="Instagram" class="icon" />
      <img src="/svg/x.svg" alt="Twitter" class="icon" />
      <img src="/svg/fb.svg" alt="Facebook" class="icon" />
      <img src="/svg/yt.svg" alt="YouTube" class="icon" />
    </div>
  </footer>
</section>
