<p *ngIf="!isMobile" class="finger">
  Découvrez notre agence en vidéo
  <img src="/png/finger-b.png" alt="Finger pointing down" class="finger-img" />
</p>
<div class="video-container">
  <div class="embed embed--16-9">
    <iframe
      src="https://player.vimeo.com/video/1006127429?autoplay=1&muted=1"
      autoplay
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
    <div class="yellow-trait"></div>
  </div>
</div>
<p *ngIf="isMobile" class="finger">
  Découvrez notre agence en vidéo
  <img src="/png/finger.png" alt="Finger pointing up" class="finger-img" />
</p>
