<p class="finger desktop">
  {{ i18n.t.hero.videoCaption }}
  <img
    src="/png/finger-b.png"
    alt=""
    class="finger-img"
    width="160"
    height="160"
    loading="lazy"
  />
</p>
<div class="video-container">
  <div class="embed embed--16-9">
    <iframe
      id="vimeo-player"
      src="https://player.vimeo.com/video/1039960977?&title=0&byline=0&portrait=0&dnt=1&api=0"
      autoplay
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
      [title]="i18n.t.hero.videoTitle"
    ></iframe>
    <div class="yellow-trait"></div>
  </div>
</div>
<p class="finger mobile">
  {{ i18n.t.hero.videoCaption }}
  <img
    src="/png/finger.png"
    alt=""
    class="finger-img"
    width="160"
    height="160"
  />
</p>
