<p class="finger desktop">
  Découvrez notre agence en vidéo
  <img
    src="/png/finger-b.png"
    alt="Finger pointing down"
    class="finger-img"
    loading="lazy"
  />
</p>
<div class="video-container">
  <div class="embed embed--16-9">
    <iframe
      id="vimeo-player"
      src="https://player.vimeo.com/video/1039960977?&title=0&byline=0&portrait=0&dnt=0&api=0"
      autoplay
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
      alt="Video de présentation de nos services en tant que monteur vidéo"
    ></iframe>
    <div class="yellow-trait"></div>
  </div>
</div>
<p class="finger mobile">
  Découvrez notre agence en vidéo
  <img
    src="/png/finger.png"
    alt="Doigt emoji qui pointe la video"
    class="finger-img"
  />
</p>
