.offer-video {
  margin-bottom: 36px;
}

.img-bgc {
  background-image: url("png/bgc-motion.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.offer-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
