<div class="nav-back">
  <div class="nav-bar">
    <div class="logo">
      <h2>ONDEO</h2>
      <p>Agence créative</p>
    </div>

    <img src="/svg/menu.png" alt="menu" (click)="toggleMenu()" loading="lazy" />

    <div class="desktop-nav">
      <ul class="desktop-nav">
        <li><a href="#videos-section">Nos vidéos</a></li>
        <li><a href="#offers-section">Nos offres</a></li>
        <li><a href="#testimonial-section">Vos avis</a></li>
      </ul>
    </div>

    <div class="btn-container">
      <button class="notification-button" (click)="scrollToCalendly()">
        Prendre RDV
      </button>
    </div>
  </div>

  <div [@sharedAnimation]="isMenuOpen ? 'open' : 'closed'" class="burger-menu">
    <ul>
      <li (click)="scrollToSection('videos-section')"><a>Nos vidéos</a></li>
      <li (click)="scrollToSection('offers-section')"><a>Nos offres</a></li>
      <li (click)="scrollToSection('testimonial-section')"><a>Vos avis</a></li>
    </ul>
  </div>
</div>
