@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

.nav-back {
  height: 80px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-self: center;

  .nav-bar {
    background-color: #fff;
    margin-top: 5px;
    border: solid 1px lightgrey;
    width: 90%;
    max-width: 1450px;
    height: 70%;
    padding: 10px;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1001;
    overflow: hidden;

    .logo {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 1;
      h2 {
        font-family: "Rubik Glitch", system-ui;
        letter-spacing: 2px;
        font-size: 22px;
      }
      p {
        font-size: 10px;
        font-weight: 600;
      }
    }
    .desktop-nav {
      display: none;
    }

    img {
      height: 20px;
      width: auto;
      margin-right: 10px;
      cursor: pointer;
    }

    .btn-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      .notification-button {
        position: relative;
        height: 30px;
        width: 100%;
        color: black;
        border-radius: 26px;
        font-size: 12px;
        background-color: #fff;
        border-color: black;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease,
          transform 0.3s ease;
        font-weight: 600;

        &:hover {
          background-color: black;
          color: white;
          transform: scale(1.05);
        }

        // Rond de notification
        &::after {
          content: "1";
          position: absolute;
          top: -7px;
          right: -6px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: red;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 1px;
          font-size: 11px;
          font-weight: bold;
          border: solid black 1px;
          transition: transform 0.1s ease-in-out;
        }

        &:hover::after {
          animation: shake-rotate 1s ease-in-out 1;
        }
      }
    }
  }

  @keyframes shake-rotate {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(10deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(-10deg);
    }
    80% {
      transform: rotate(10deg);
    }
    90% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .burger-menu {
    overflow: hidden;
    position: absolute;
    width: 80%;
    height: auto;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 15px;
    z-index: 999;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 10px 20px;

        a {
          text-decoration: none;
          color: black;
          font-size: 14px;
        }

        &:hover {
          background-color: rgba(255, 206, 8, 0.2);
        }
      }
    }
  }
}

@media (min-width: 390px) {
  .nav-back {
    height: 90px;

    .nav-bar {
      .logo {
        h2 {
          font-size: 26px;
        }
        p {
          font-size: 14px;
        }
      }

      img {
        height: 25px;
      }
      .btn-container {
        .notification-button {
          height: 36px;
          font-size: 15px;

          &::after {
            width: 20px;
            height: 20px;
            font-size: 15px;
          }
        }
      }
    }
    .burger-menu ul li {
      padding: 15px 22px;
      a {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 768px) {
  .nav-back {
    height: 100px;

    .nav-bar {
      .logo {
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 20px;
        }
      }

      img {
        height: 25px;
        margin-right: 0;
      }

      .btn-container {
        .notification-button {
          height: 40px;
          width: 60%;
          font-size: 18px;

          &::after {
            top: -10px;
            right: -9px;
            width: 25px;
            height: 25px;
            font-size: 17px;
          }
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  .nav-back {
    height: 120px;

    .nav-bar {
      .logo {
        width: 30%;
        h2 {
          font-size: 34px;
        }
        p {
          font-size: 22px;
        }
      }

      img {
        display: none;
      }

      .desktop-nav {
        display: flex;
      }
      .burger-menu {
        display: none;
      }

      ul {
        display: flex;
        list-style: none;
        margin-top: 15px;
        gap: 20px;

        li {
          padding: 0 10px;
          position: relative;

          a {
            text-decoration: none;
            color: black;
            font-size: 20px;
            position: relative;
            font-weight: 600;
            display: inline-block;

            &::before {
              content: "";
              position: absolute;
              bottom: 0.1em;
              left: 0;
              width: 0;
              height: 0.3em;
              background-color: #ffce08;
              clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
              transition: width 0.5s ease;
              z-index: -1;
            }

            &:hover::before {
              width: 103%;
            }
          }
        }
      }

      .btn-container {
        width: 33%;
        .notification-button {
          height: 48px;
          width: 60%;
          font-size: 20px;

          &::after {
            width: 30px;
            height: 30px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
