<h2 class="section-title">
  Votre partenaire vidéo le plus <span class="highlighted">innovant</span> pour
  2024
</h2>

<div class="carrousel-container">
  <app-videos-structured
    *ngIf="currentPage === 0"
    [videoList]="videoList1"
  ></app-videos-structured>
  <app-videos-structured
    *ngIf="currentPage === 1"
    [videoList]="videoList2"
  ></app-videos-structured>
</div>

<div class="pagination">
  <span (click)="goToPage(0)" [class.active]="currentPage === 0"></span>
  <span (click)="goToPage(1)" [class.active]="currentPage === 1"></span>
</div>
