<div class="bgc-carrou">
  <h2 class="section-title">
    Votre partenaire vidéo le plus
    <span class="highlighted">innovant</span> pour 2025
  </h2>

  <div class="carrousel-container">
    <swiper *ngIf="isMobile; else desktopLayout" #swiper [config]="config">
      <ng-template swiperSlide>
        <app-videos-structured [videoList]="videoList1"></app-videos-structured>
      </ng-template>
      <ng-template swiperSlide>
        <app-videos-structured [videoList]="videoList2"></app-videos-structured>
      </ng-template>
    </swiper>

    <ng-template #desktopLayout>
      <div class="video-lists">
        <div class="video-list">
          <app-videos-structured
            [videoList]="videoList1"
          ></app-videos-structured>
        </div>

        <div class="video-list">
          <app-videos-structured
            [videoList]="videoList2"
          ></app-videos-structured>
        </div>
      </div>
    </ng-template>
  </div>
</div>
