.carrousel-container {
}

.pagination {
  text-align: center;
  margin-bottom: 15px;

  span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: grey;
    margin: 0 5px;
    cursor: pointer;

    &.active {
      background: #ffce08;
    }
  }
}
