.carrousel-container {
  padding: 10px 0px;

  .video-lists {
    display: flex;
    padding: 100px;
    width: 100%;
    height: auto;

    .video-list {
      flex: 1; // Chaque liste prendra la même largeur
    }
  }
}

::ng-deep .swiper-pagination-bullet-active {
  background-color: #ffce08; // Couleur du point actif (jaune dans ce cas)
}

::ng-deep .swiper {
  padding-bottom: 50px;
}
