<h2 class="section-title">
  Votre partenaire vidéo le plus <span class="highlighted">innovant</span> pour
  2024
</h2>
<div class="video-container">
  <div *ngFor="let video of paginatedVideos" class="embed embed--16-9">
    <iframe
      [src]="video.src"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
    <div class="chip" [ngClass]="video.categoryColor">{{ video.category }}</div>
    <!-- <div class="play-button" (click)="openVideo(video.src)"></div> -->
  </div>
</div>

<div class="pagination">
  <span (click)="goToPage(0)" [class.active]="currentPage === 0"></span>
  <span (click)="goToPage(1)" [class.active]="currentPage === 1"></span>
</div>
