.img-bgc {
  background-image: url("png/bgc-podcast.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1000px) {
  .podcast-section {
    margin-bottom: 60px;
  }
}
