.img-bgc {
  margin-top: 20px;
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: red;
  // background-image: url();
}

@media (min-width: 1000px) {
  .podcast-section {
    margin-bottom: 60px;
  }
}
