<div class="podcast-section">
  <h2 class="section-title">
    La <span class="highlighted">performance</span> des grandes agences, sans le
    coût élevé
  </h2>
  <div id="offers-section"></div>
  <div class="img-bgc">
    <div class="overlay-bgc"></div>
    <div class="title-container">
      <h2 class="pack-title">Pack Podcast</h2>
    </div>
    <p class="offer-desc">
      Vous souhaitez parler à votre audience ? <br />
      Venez réaliser une interview dans nos studios !
    </p>
  </div>

  <div *ngIf="isMobile; else desktopLayout">
    <swiper [config]="config">
      <ng-container>
        <ng-template swiperSlide>
          <app-white-offer-card
            [whiteOffer]="whiteOfferCards"
            [isMobile]="isMobile"
          ></app-white-offer-card>
        </ng-template>
        <ng-template swiperSlide>
          <app-black-offer-card
            [blackOffer]="blackOffercard"
            [isMobile]="isMobile"
          ></app-black-offer-card>
        </ng-template>
      </ng-container>
    </swiper>
  </div>
  <ng-template #desktopLayout>
    <div class="offer-cards">
      <app-white-offer-card
        [whiteOffer]="whiteOfferCards"
        [isMobile]="isMobile"
      ></app-white-offer-card>
      <app-black-offer-card
        [blackOffer]="blackOffercard"
        [isMobile]="isMobile"
      ></app-black-offer-card>
    </div>
  </ng-template>
</div>
