<div class="logo-slider">
  <div class="logo-track">
    <img src="/logos/m6.png" alt="logo M6" />
    <img src="/logos/bangumi.png" alt="Logo bangumi" />
    <img src="/logos/blue-lemon.png" alt="Logo blue lemon" />
    <img src="/logos/docapost.png" alt="Logo docapost" />
    <img src="/logos/ias.png" alt="Logo ia-school" />
    <img src="/logos/iseg.png" alt="Logo ISEG" />
    <img src="/logos/minister.png" alt="Logo ministère de l'intérieur" />
    <img src="/logos/bpi.png" alt="Logo BPI" />
    <img src="/logos/caisse_depargne.png" alt="Logo caisse d'épargne" />
    <img src="/logos/carlsberg.png" alt="Logo Carlsberg" />
    <img src="/logos/danone.png" alt="Logo danone" />
    <img src="/logos/lamenance.png" alt="Logo la menance" />
    <img src="/logos/france5.png" alt="Logo France 5" />
    <img src="/logos/green-got.png" alt="Logo Green Got" />
    <img src="/logos/groupama.png" alt="Logo Groupama" />
    <img src="/logos/Olympics.png" alt="Logo JO Paris 2024" />
    <img src="/logos/sneakmart.png" alt="Logo Sneakmart" />
    <img src="/logos/TMC.png" alt="Logo TMC" />
    <img src="/logos/taleseed.png" alt="Logo taleseed" />

    <!-- Répéter une deuxième fois les logos pour obtenir une boucle continue -->
    <img src="/logos/m6.png" alt="logo M6" />
    <img src="/logos/bangumi.png" alt="Logo bangumi" />
    <img src="/logos/blue-lemon.png" alt="Logo blue lemon" />
    <img src="/logos/docapost.png" alt="Logo docapost" />
    <img src="/logos/ias.png" alt="Logo ia-school" />
    <img src="/logos/iseg.png" alt="Logo ISEG" />
    <img src="/logos/minister.png" alt="Logo ministère de l'intérieur" />
    <img src="/logos/bpi.png" alt="Logo BPI" />
    <img src="/logos/caisse_depargne.png" alt="Logo caisse d'épargne" />
    <img src="/logos/carlsberg.png" alt="Logo Carlsberg" />
    <img src="/logos/danone.png" alt="Logo danone" />
    <img src="/logos/lamenance.png" alt="Logo la menance" />
    <img src="/logos/france5.png" alt="Logo France 5" />
    <img src="/logos/green-got.png" alt="Logo Green Got" />
    <img src="/logos/groupama.png" alt="Logo Groupama" />
    <img src="/logos/Olympics.png" alt="Logo JO Paris 2024" />
    <img src="/logos/sneakmart.png" alt="Logo Sneakmart" />
    <img src="/logos/TMC.png" alt="Logo TMC" />
    <img src="/logos/taleseed.png" alt="Logo taleseed" />
  </div>
</div>
