<div class="logo-slider">
  <div class="logo-track">
    <img src="/logos/m6.png" alt="logo M6" />
    <img src="/logos/bangumi.png" alt="Logo bangumi" />
    <img src="/logos/blue-lemon.png" alt="Logo blue lemon" />
    <img src="/logos/docapost.png" alt="Logo docapost" />
    <img src="/logos/ias.png" alt="Logo ia-school" />
    <img src="/logos/iseg.png" alt="Logo ISEG" />
    <img src="/logos/minister.png" alt="Logo ministère de l'intérieur" />
    <img src="/logos/taleseed.png" alt="Logo taleseed" />
    <!-- Répéter une deuxième fois les logos pour obtenir une boucle continue -->
    <img src="/logos/m6.png" alt="logo M6" />
    <img src="/logos/bangumi.png" alt="Logo bangumi" />
    <img src="/logos/blue-lemon.png" alt="Logo blue lemon" />
    <img src="/logos/docapost.png" alt="Logo docapost" />
    <img src="/logos/ias.png" alt="Logo ia-school" />
    <img src="/logos/iseg.png" alt="Logo ISEG" />
    <img src="/logos/minister.png" alt="Logo ministère de l'intérieur" />
    <img src="/logos/taleseed.png" alt="Logo taleseed" />
  </div>
</div>
