.testimonial-section {
  position: relative;
  overflow: hidden;
  height: 850px;

  .yellow-background {
    position: absolute;
    background-color: rgba(250, 177, 50, 0.84);
    border-radius: 0 0 50px 50px;
    height: 700px;
    width: 150%;
    border-radius: 9% 91% 100% 0% / 3% 57% 43% 97%;
    // border-radius: 78% 22% 0% 100% / 54% 50% 50% 46%;
    z-index: 0;
  }

  .testimonials-container {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .testimonial-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
  .testimonial-card {
    display: flex;
    align-items: center;
    height: 178px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }

  .testimonial-text {
    font-size: 1em;
    font-weight: bold;
    color: #333;
  }

  .testimonial-position {
    font-size: 0.85em;
    color: #555;
    margin-top: 5px;
  }

  .pagination {
    position: relative;
    text-align: center;
    z-index: 1;

    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background: rgba(242, 241, 241, 0.626);
      border-radius: 50%;
      cursor: pointer;

      &.active {
        background-color: black;
      }
    }
  }
}
