<section class="testimonial-section">
  <h2 *ngIf="isMobile; else desktoptLayoutH" class="section-title mb-20">
    Ils nous ont <br />
    fait <span class="highlighted">confiance</span>
  </h2>
  <ng-template #desktoptLayoutH>
    <h2 class="section-title mb-20">
      Ils nous ont fait <span class="highlighted">confiance</span>
    </h2>
  </ng-template>
  <div class="yellow-background"></div>
  <!-- Assurez-vous que le nom correspond -->
  <div *ngIf="isMobile; else desktoptLayout" class="testimonials-container">
    <swiper [config]="config">
      <ng-template swiperSlide>
        <app-avis-card [avisList]="testimonials1"></app-avis-card>
      </ng-template>
      <ng-template swiperSlide>
        <app-avis-card [avisList]="testimonials2"></app-avis-card>
      </ng-template>
      <ng-template swiperSlide>
        <app-avis-card [avisList]="testimonials3"></app-avis-card>
      </ng-template>
      <ng-template swiperSlide>
        <app-avis-card [avisList]="testimonials4"></app-avis-card>
      </ng-template>
    </swiper>
  </div>
  <ng-template #desktoptLayout>
    <swiper [config]="config">
      <ng-template swiperSlide>
        <div class="testimonial-layout">
          <app-avis-card [avisList]="testimonials1"></app-avis-card>
          <app-avis-card [avisList]="testimonials2"></app-avis-card>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="testimonial-layout">
          <app-avis-card [avisList]="testimonials3"></app-avis-card>
          <app-avis-card [avisList]="testimonials4"></app-avis-card>
        </div>
      </ng-template>
    </swiper>
  </ng-template>
</section>
