<div class="keys-container">
  <div class="key-card" [attr.data-aos]="isMobile ? 'fade-right' : 'fade-left'">
    <label class="checkbox">
      <div class="checkbox__inner">
        <div class="green__ball" [class.animate-light]="isLightOn"></div>
      </div>
    </label>
    <div class="key-desc">Modifications illimitées</div>
  </div>

  <div
    class="key-card"
    data-aos="fade-left"
    [attr.data-aos-delay]="isMobile ? '100' : '200'"
  >
    <label class="checkbox">
      <div class="checkbox__inner">
        <div class="green__ball" [class.animate-light]="isLightOn"></div>
      </div>
    </label>
    <div class="key-desc">Sans engagement</div>
  </div>

  <div
    class="key-card"
    [attr.data-aos]="isMobile ? 'fade-up' : 'fade-left'"
    [attr.data-aos-delay]="isMobile ? '200' : '400'"
  >
    <label class="checkbox">
      <div class="checkbox__inner">
        <div class="green__ball" [class.animate-light]="isLightOn"></div>
      </div>
    </label>
    <div class="key-desc">On s’occupe de tout</div>
  </div>
</div>
<div *ngIf="isMobile" class="btn-rdv-container">
  <button class="rdv-btn">Prendre rendez-vous</button>
</div>
