<div class="keys-container">
  <div class="key-card" [attr.data-aos]="isMobile ? 'fade-right' : 'fade-left'">
    <img
      src="/png/modifs.png"
      alt=""
      class="modifs"
    />
    <div class="key-desc">{{ i18n.t.promise.revisions }}</div>
  </div>

  <div
    class="key-card"
    data-aos="fade-left"
    [attr.data-aos-delay]="isMobile ? '100' : '200'"
  >
    <img src="/png/sans-engagement.png" alt="" />
    <div class="key-desc">{{ i18n.t.promise.noCommitment }}</div>
  </div>

  <div
    class="key-card"
    [attr.data-aos]="isMobile ? 'fade-up' : 'fade-left'"
    [attr.data-aos-delay]="isMobile ? '200' : '400'"
  >
    <img src="/png/on-s-occupe.png" alt="" />
    <div class="key-desc">{{ i18n.t.promise.allInclusive }}</div>
  </div>
</div>
<div *ngIf="isMobile" class="btn-rdv-container">
  <button class="rdv-btn" (click)="scrollToCalendly()">
    {{ i18n.t.hero.cta }}
  </button>
</div>
