.keys-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  .key-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 60px;
    gap: 20px;

    img {
      width: 40px;

      @media (min-width: 390px) {
        width: 50px;

        .modifs {
          width: 40px;
        }
      }
    }

    .key-desc {
      padding-top: 2px;
      font-size: 18px;
      flex-grow: 1;
      text-align: left;

      @media (min-width: 390px) {
        font-size: 22px;
      }
    }

    @media (min-width: 390px) {
      width: 310px;
    }
  }

  @media (min-width: 750px) {
    flex-direction: row;
    justify-content: center;
    padding-left: 10px;
    gap: 40px;

    .key-card {
      width: 220px;
      height: 80px;
      gap: 20px;

      &:nth-child(2) {
        width: 200px;
      }

      img {
        width: 40px;
      }

      .modifs {
        width: 35px;
      }

      .key-desc {
        width: 150px;
        font-size: 21px;
      }
    }
  }
  @media (min-width: 800px) {
    margin-left: 15px;
    gap: 10px;

    .key-card {
      width: 250px;
      height: 100px;
      gap: 20px;

      &:nth-child(2) {
        width: 230px;
      }

      .key-desc {
        width: 170px;
        font-size: 22px;
      }
    }
  }
  @media (min-width: 1020px) {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-left: 10px;

    .key-card {
      width: 300px;
      height: 80px;
      gap: 20px;

      &:nth-child(2) {
        margin-left: 10px;
        width: 280px;
      }

      .key-desc {
        font-size: 22px;
      }
    }
  }
  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-left: 0;

    .key-card {
      width: 300px;
      height: 80px;
      gap: 50px;

      &:nth-child(2) {
        margin-left: 30px;
        width: 280px;
      }

      img {
        width: 70px;
      }

      .modifs {
        width: 60px;
      }

      .key-desc {
        font-size: 22px;
      }
    }
  }
  @media (min-width: 1200px) {
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin-left: 0;

    .key-card {
      width: 300px;
      height: 80px;
      gap: 40px;

      &:nth-child(2) {
        margin-left: 0px;
        width: 280px;
      }
    }
  }
  @media (min-width: 1400px) {
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-left: 0;

    .key-card {
      width: 300px;
      height: 80px;
      gap: 45px;

      &:nth-child(2) {
        margin-left: 0px;
        width: 280px;
      }
    }
  }
}
