<div class="keys-container">
  <div class="blue" [attr.data-aos]="isMobile ? 'fade-right' : 'fade-left'">
    <div class="key-img-container">
      <img src="/png/oeil.png" alt="image d'un oeil" />
    </div>
    <div class="key-desc">
      <p>+ 20</p>
      <p>Millions de vues</p>
    </div>
  </div>
  <div
    class="orange"
    data-aos="fade-left"
    [attr.data-aos-delay]="isMobile ? '100' : '200'"
  >
    <div class="key-img-container">
      <img src="/png/supporter.png" alt="" />
    </div>
    <div class="key-desc">
      <p>+ 30</p>
      <p>Clients accompagnés</p>
    </div>
  </div>
  <div
    class="purple"
    [attr.data-aos]="isMobile ? 'fade-up' : 'fade-left'"
    [attr.data-aos-delay]="isMobile ? '200' : '400'"
  >
    <div class="key-img-container">
      <img src="/png/video.png" alt="image d'une file video" />
    </div>
    <div class="key-desc">
      <p>+ 20</p>
      <p>Videos / semaines</p>
    </div>
  </div>
</div>
<div *ngIf="isMobile" class="btn-rdv-container">
  <button class="rdv-btn">Prendre rendez-vous</button>
</div>
