.keys-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  gap: 14px;
  overflow: hidden;
  .blue,
  .orange,
  .purple {
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 30px;s
    width: 298px;
    height: 60px;
    border-radius: 10px;
    // padding-left: 30px;

    .key-img-container {
      width: 36%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .key-desc {
      width: 64%;
      font-size: 16px;
    }
  }

  .blue {
    background-color: #d7ecff;
  }

  .orange {
    background-color: #ffe4c1;
  }

  .purple {
    background-color: #fee0fe;
  }

  img {
    width: 50px;
  }
}

@media (min-width: 390px) {
  .keys-container {
    .blue,
    .orange,
    .purple {
      width: 340px;
      height: 70px;

      .key-img-container {
        width: 36%;

        img {
          width: 60px;
        }
      }

      .key-desc {
        width: 64%;
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 410px) {
  .keys-container {
    gap: 20px;
    .blue,
    .orange,
    .purple {
      width: 370px;
      height: 70px;

      .key-desc {
        width: 64%;
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 750px) {
  .keys-container {
    flex-direction: row;
    padding: 0px 20px;
    justify-content: center;
    margin-bottom: 30px;

    .blue,
    .orange,
    .purple {
      width: 300px;
      height: 70px;
      padding-left: 2px;
      .key-img-container {
        width: 30%;

        img {
          width: 50px;
        }
      }

      .key-desc {
        width: 70%;
        font-size: 15px;
      }
    }
  }
}

@media (min-width: 1100px) {
  .keys-container {
    gap: 50px;

    .blue,
    .orange,
    .purple {
      width: 320px;
      height: 80px;
      padding-left: 0;

      .key-img-container {
        width: 30%;

        img {
          width: 60px;
        }
      }

      .key-desc {
        width: 70%;
        font-size: 20px;
      }
    }
  }
}
