.keys-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  gap: 14px;
  .blue,
  .orange,
  .purple {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 298px;
    height: 60px;
    border-radius: 10px;
    padding-left: 30px;
  }

  .blue {
    background-color: #d7ecff;
  }

  .orange {
    background-color: #ffe4c1;
  }

  .purple {
    background-color: #fee0fe;
  }

  img {
    width: 50px;
  }
}

.btn-rdv-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rdv-btn {
  width: 292px;
  height: 50px;
  border-radius: 26px;
  background-color: #212121; // Couleur de fond initiale
  color: white; // Couleur du texte initiale
  font-size: 16px;
  cursor: pointer;
  margin: 15px 0;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; // Ajoute la transition pour scale

  // Styles au survol
  &:hover {
    background-color: white; // Couleur de fond au survol
    color: black; // Couleur du texte au survol
    transform: scale(1.02); // Agrandissement lors du survol
  }
}
