<div class="logos">
  <div class="logos-slide">
    <img src="/logos/m6.png" alt="logo M6" loading="lazy" />
    <img src="/logos/bangumi.png" alt="Logo bangumi" loading="lazy" />
    <img src="/logos/blue-lemon.png" alt="Logo blue lemon" loading="lazy" />
    <img src="/logos/docaposte.png" alt="Logo docapost" loading="lazy" />
    <img src="/logos/ias.png" alt="Logo ia-school" loading="lazy" />
    <img src="/logos/iseg.png" alt="Logo ISEG" loading="lazy" />
    <img
      src="/logos/minister.png"
      alt="Logo ministère de l'intérieur"
      loading="lazy"
    />
    <img src="/logos/bpi.png" alt="Logo BPI" loading="lazy" />
    <img
      src="/logos/caisse_depargne.png"
      alt="Logo caisse d'épargne"
      loading="lazy"
    />
    <img src="/logos/carlsberg.png" alt="Logo Carlsberg" loading="lazy" />
    <img src="/logos/danone.png" alt="Logo danone" loading="lazy" />
    <img src="/logos/france5.png" alt="Logo France 5" loading="lazy" />
    <img src="/logos/green-got.png" alt="Logo Green Got" loading="lazy" />
    <img src="/logos/groupama.png" alt="Logo Groupama" loading="lazy" />
    <img src="/logos/Olympics.png" alt="Logo JO Paris 2024" loading="lazy" />
    <img src="/logos/sneakmart.png" alt="Logo Sneakmart" loading="lazy" />
    <img src="/logos/TMC.png" alt="Logo TMC" loading="lazy" />
    <img src="/logos/talessed.png" alt="Logo taleseed" loading="lazy" />
    <img
      src="/logos/arcachon.png"
      alt="Logo mairie d'arcachon"
      loading="lazy"
    />
    <img src="/logos/france2.png" alt="Logo France 2" loading="lazy" />
    <img
      src="/logos/powellsoftware.png"
      alt="Logo powell software"
      loading="lazy"
    />
    <img src="/logos/skills_place.png" alt="Logo skills place" loading="lazy" />
    <img src="/logos/french-med.png" alt="Logo french-med" loading="lazy" />
  </div>
  <div class="logos-slide">
    <img src="/logos/m6.png" alt="logo M6" loading="lazy" />
    <img src="/logos/bangumi.png" alt="Logo bangumi" loading="lazy" />
    <img src="/logos/blue-lemon.png" alt="Logo blue lemon" loading="lazy" />
    <img src="/logos/docaposte.png" alt="Logo docapost" loading="lazy" />
    <img src="/logos/ias.png" alt="Logo ia-school" loading="lazy" />
    <img src="/logos/iseg.png" alt="Logo ISEG" loading="lazy" />
    <img
      src="/logos/minister.png"
      alt="Logo ministère de l'intérieur"
      loading="lazy"
    />
    <img src="/logos/bpi.png" alt="Logo BPI" loading="lazy" />
    <img
      src="/logos/caisse_depargne.png"
      alt="Logo caisse d'épargne"
      loading="lazy"
    />
    <img src="/logos/carlsberg.png" alt="Logo Carlsberg" loading="lazy" />
    <img src="/logos/danone.png" alt="Logo danone" loading="lazy" />
    <img src="/logos/france5.png" alt="Logo France 5" loading="lazy" />
    <img src="/logos/green-got.png" alt="Logo Green Got" loading="lazy" />
    <img src="/logos/groupama.png" alt="Logo Groupama" loading="lazy" />
    <img src="/logos/Olympics.png" alt="Logo JO Paris 2024" loading="lazy" />
    <img src="/logos/sneakmart.png" alt="Logo Sneakmart" loading="lazy" />
    <img src="/logos/TMC.png" alt="Logo TMC" loading="lazy" />
    <img src="/logos/talessed.png" alt="Logo taleseed" loading="lazy" />
    <img
      src="/logos/arcachon.png"
      alt="Logo mairie d'arcachon"
      loading="lazy"
    />
    <img src="/logos/france2.png" alt="Logo France 2" loading="lazy" />
    <img
      src="/logos/powellsoftware.png"
      alt="Logo powell software"
      loading="lazy"
    />
    <img src="/logos/skills_place.png" alt="Logo skills place" loading="lazy" />
    <img src="/logos/french-med.png" alt="Logo french-med" loading="lazy" />
  </div>
</div>
