/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import "swiper/swiper-bundle.min.css";
@import "aos/dist/aos.css";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

main {
  margin-top: 80px;
}

h1 {
  padding: 12px;
  font-size: 25px;
  font-weight: 350;
}

.section-title {
  padding: 12px;
  font-size: 22px;
  font-weight: 350;
  text-align: center;
  margin-top: 10px;
}

.highlighted {
  display: inline-block;
  position: relative;
  font-weight: 600;
  z-index: 1;
}

.highlighted::before {
  content: "";
  position: absolute;
  bottom: 0.1em;
  left: 0;
  width: 102%;
  height: 0.3em;
  background-color: #ffce08;
  /* border-radius: 0% 100% 9% 91% / 100% 0% 100%; */
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}

.desc {
  font-size: 15px;
  font-weight: 350;
  line-height: 1.5;
  margin: 15px 0;
  padding: 0px 12px 12px;
  text-align: justify;
}

.bolded {
  font-weight: 600;
}

.title-container {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement (si nécessaire) */
}

.pack-title {
  /* font-family: "Rubik Glitch", system-ui; */
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 900;
  margin-top: 12px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.offer-desc {
  z-index: 3;
  text-align: center;
  font-size: 17px;
  padding: 5px 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.follow-us {
  color: white;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.footer-text {
  padding-bottom: 10px;
  text-align: center;
}

.btn-rdv-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rdv-btn {
  width: 292px;
  height: 50px;
  border-radius: 100px;
  background-color: #212121;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 15px 0;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.rdv-btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.02);
}

.offer-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

iframe {
  background: linear-gradient(90deg, #f8f8f8 25%, #eaeaea 50%, #f8f8f8 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 3.5s infinite linear;
}

// .skeleton-loader {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: linear-gradient(90deg, #f8f8f8 25%, #eaeaea 50%, #f8f8f8 75%);
//   background-size: 200% 100%;
//   animation: skeleton-loading 3.5s infinite linear;
//   border-radius: 15px;
//   z-index: 1;
// }

.img-bgc {
  margin-top: 40px;
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
  color: white;
  // background-color: red;

  .overlay-bgc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  50% {
    background-position: 0% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@media (min-width: 390px) {
  main {
    margin-top: 90px;
  }

  h1 {
    padding: 18px;
    font-size: 28px;
  }

  .section-title {
    padding: 18px;
    font-size: 26px;
  }

  .desc {
    padding: 0px 18px 20px;
    font-size: 18px;
  }

  .section-title {
    padding: 18px;
  }

  .btn-rdv-container {
    justify-content: center;
    margin: 20px 0px;
  }

  .rdv-btn {
    margin: 0;
    width: 340px;
    height: 60px;
    font-size: 20px;
  }

  .offer-desc {
    font-size: 18px;
  }

  .img-bgc {
    height: 250px;
  }
}

@media (min-width: 410px) {
  h1 {
    font-size: 30px;
  }

  .rdv-btn {
    width: 370px;
    height: 70px;
    font-size: 22px;
  }

  .offer-desc {
    font-size: 20px;
    padding: 8px 20px;
  }
}

@media (min-width: 420px) {
  h1 {
    font-size: 32px;
  }

  .img-bgc {
    height: 270px;
  }
}

@media (min-width: 720px) {
  main {
    margin-top: 110px;
  }

  .reverse {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  h1 {
    padding: 20px 25px;
    font-size: 44px;
  }

  .section-title {
    /* margin-top: 50px; */
    width: 80%;
    padding: 25px;
    font-size: 36px;
    margin: 0 auto;
  }

  .desc {
    padding: 0px 25px;
    font-size: 22px;
  }

  .section-title {
    padding: 25spx;
  }

  .btn-rdv-container {
    justify-content: flex-start;
    padding-left: 15px;
    margin: 30px 0px;
  }

  .rdv-btn {
    margin: 0;
    width: 370px;
    height: 60px;
    font-size: 22px;
  }

  .pack-title {
    font-size: 34px;
    letter-spacing: 3px;
    font-weight: bold;
  }

  .offer-desc {
    font-size: 24px;
    padding: 5px 35px;
  }

  .videos-offers {
    padding: 10px 20px 0px;
  }

  .offer-cards {
    margin: 30px 0px;
  }

  .follow-us {
    font-size: 22px;
  }
  .footer-text {
    font-size: 22px;
  }

  .img-bgc {
    height: 300px;
    margin-bottom: 60px;

    &:nth-child(1) {
      margin-top: 100px;
    }
  }
}

@media (min-width: 1020px) {
  main {
    margin-top: 100px;
  }

  .reverse {
    flex-direction: row;
    padding: 0px 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    /* margin-bottom: 40px; */
  }

  .web-title {
    width: 45%;
    padding: 20px 0px;
  }

  .web-video {
    width: 55%;
  }

  h1 {
    padding: 0px;
    font-size: 34px;
  }

  .desc {
    padding: 10px 0px;
    font-size: 22px;
  }

  .btn-rdv-container {
    justify-content: flex-start;
    /* padding-left: 60px; */
    /* margin-bottom: 50px; */

    .rdv-btn {
      width: 400px;
      height: 60px;
      font-size: 23px;
    }
  }

  .follow-us {
    font-size: 24px;
  }

  .footer-text {
    padding-bottom: 10px;
    font-size: 24px;
  }
}

@media (min-width: 1050px) {
  main {
    margin-top: 120px;
  }
  .videos-offers {
    padding: 20px 40px 10px;
  }
}
@media (min-width: 1190px) {
  main {
    margin-top: 140px;
  }
}

@media (min-width: 1180px) {
  main {
    margin-top: 120px;
  }

  .reverse {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  main {
    margin-top: 140px;
  }

  .desc {
    padding: 25px 0px 20px;
  }

  .reverse {
    margin-bottom: 40px;
  }
  h1 {
    font-size: 40px;
  }

  .videos-offers {
    padding: 10px 60px 0px;
  }

  .pack-title {
    font-size: 54px;
    letter-spacing: 3px;
  }

  .img-bgc {
    height: 320px;
  }
}

@media (min-width: 1400px) {
  main {
    padding-top: 140px;
    margin: 0 60px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1), -5px 0 10px rgba(0, 0, 0, 0.1);
  }
}
